##  SQLAlchemy

Se utilizan para manejar las bases de datos como colecciones de objetos.

Ayudan a eliminar trabajo repetitivo.

SQLAlchemy es uno de los ORM más usados con Python


https://docs.sqlalchemy.org/en/14/orm/tutorial.html

In [ ]:
pip install sqlalchemy

## ORM: Object Relational Mapper
Presenta una forma de asociar:

Clases Python definidas por el usuario, con tablas de Bases de Datos. 

Instancias de esas clases con filas de las correspondientes tablas.

Sincroniza cambios de estado en los objetos con las filas relacionadas. (Usa el patrón Unit of Work.)

Permite expresar querys en términos de clases definidas por el usuario.

## Ventajas de usar un ORM

Las principales ventajas de usar un ORM son:

  Acceder a las tablas y filas de una base de datos como clases y objetos.
  
  En la mayoría de ocasiones no es necesario usar el lenguaje SQL. El ORM se encarga de hacer las traducciones oportunas.
  
  Independencia de la base de datos. Es posible cambiar de motor de base de datos modificando muy poco código en la aplicación.
  
  Incrementa la productividad del desarrollador.

## Pasos para Usar un ORM 

Declarar el mapeo de la base de datos (Crea los metadatos)

Crear clases para cada entidad

Crear Engine para un determinado motor BD

Relacionar Engine con metadatos

Crear Session, relacionarla con Engine

Una vez que su tabla esté mapeada, puede
use un objeto de sesión para completar sus objetos en función de los datos en la tabla de usuario y enviar
cualquier cambio que realice en los objetos asignados a la base de datos

In [7]:
## Ejemplo Simple 

from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import declarative_base

Base = declarative_base()

class SomeClass(Base):
    __tablename__ = 'some_table'
    id = Column(Integer, primary_key=True)
    name =  Column(String(50))

In [13]:
## Ejemplo tabla 


from sqlalchemy.orm import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = "users"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (
             self.name,
             self.fullname,
             self.nickname,
         )


SQLAlchemy SQLite en Disco

Windows hay definir el path absoluto con seguido de 3 barras:

sqlite:///C:\Users\Username\AppData\Roaming\Appname\mydatabase.db

In [16]:
from sqlalchemy import create_engine
from sqlalchemy import Column, ForeignKey, Integer, Table
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import  relationship
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()


engine1=create_engine('sqlite:///C:\\sistemas\\py\\mydatabase.db')
Base=declarative_base()

children = relationship("Child", back_populates="parent")
class Parent(Base):
    __tablename__ = "parent"
    id = Column(Integer, primary_key=True)
    children = relationship("Child", back_populates="parent")
    def __repr__(self):
        return'Parent id {} '.format(self.id)

class Child(Base):
    __tablename__ = "child"
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey("parent.id"))
    parent = relationship("Parent", back_populates="children")    
    def __repr__(self):
        return'Child id {} paren_id {}'.format(self.id,self.parent_id)
    
Base.metadata.create_all(engine1)
Session=sessionmaker(bind=engine1)
session=Session()

In [17]:
   
padre1 = Parent()
hijo1 = Child()
hijo1.parent = padre1
session.add(hijo1)

hijo2 = Child()
hijo2.parent = padre1
session.add(hijo2)

padre3 = Parent()
hijo3 = Child()
hijo3.parent = padre3
session.add(hijo3)

In [18]:

print("Listado de Parent ->",session.query(Parent).all())
print("Listado de Child ->",session.query(Child).all())
session.commit()
session.close()

Listado de Parent -> [Parent id 1 , Parent id 2 , Parent id 3 , Parent id 4 , Parent id 5 , Parent id 6 , Parent id 7 , Parent id 8 , Parent id 9 , Parent id 10 , Parent id 11 , Parent id 12 , Parent id 13 , Parent id 14 , Parent id 15 , Parent id 16 , Parent id 17 , Parent id 18 ]
Listado de Child -> [Child id 1 paren_id 1, Child id 2 paren_id 1, Child id 3 paren_id 2, Child id 4 paren_id 3, Child id 5 paren_id 3, Child id 6 paren_id 4, Child id 7 paren_id 5, Child id 8 paren_id 5, Child id 9 paren_id 6, Child id 10 paren_id 7, Child id 11 paren_id 7, Child id 12 paren_id 8, Child id 13 paren_id 9, Child id 14 paren_id 10, Child id 15 paren_id 10, Child id 16 paren_id 11, Child id 17 paren_id 12, Child id 18 paren_id 13, Child id 19 paren_id 13, Child id 20 paren_id 14, Child id 21 paren_id 15, Child id 22 paren_id 15, Child id 23 paren_id 16, Child id 24 paren_id 17, Child id 25 paren_id 17, Child id 26 paren_id 18]

Ejercicio



Sistema para escuelas en sqlalchemy como parte del curso de "Bases de datos en Python"

Consigna: Se invita a crear un sistema para una escuela mediante SQLAlchemy. Este sistema permite registrar nuevos alumnos, profesores y cursos.

Un alumno es asignado a un curso y un curso puede tener asociado más de un profesor. Los profesores tienen un horario que indica cuando están en cada curso.

El horario asociará un curso y un profesor para un día de la semana (Lunes, Martes, Miércoles, Jueves, Viernes, Sábado, Domingo), una hora desde y una hora hasta.

El sistema permitirá exportar los alumnos que pertenecen a un curso, el horario de cada profesor y el horario del curso.

Se agradece los comentarios o sugerencias que puedan otorgar.

Nota: Se consideró que la entidad "horario" poseerá dos claves foráneas que harán referencia tanto a "Curso" como "Profesor" . Se anexa diagrama Entidad-Relación. Otra entidad a poseer una entidad con clave foránea es "alumno"


# ![Mapa.png](attachment:Mapa.png)

In [5]:
#Sistema de escuelas por DawffyddRiv
from sqlalchemy import create_engine
##from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Sequence, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

engine=create_engine('sqlite:///:memory:')
##Base=declarative_base(engine)
Base=declarative_base()


class Estudiante(Base):
    __tablename__="alumno"   
    id=Column(Integer,Sequence('alumno_seq_id'),primary_key=True)
    nombrea=Column(String)
    apellidoa=Column(String)
    curso_ida=Column(Integer,ForeignKey('curso.id'))
    
    cursos=relationship("Course",back_populates='estudiantes')
    def __repr__(self):
        return' Nombre {} Apellido {} '.format(self.nombrea, self.apellidoa)

class Course(Base):
    __tablename__='curso'
    id=Column(Integer, Sequence('curso_seq_id'),primary_key=True)
    nombrec=Column(String)
        
    estudiantes=relationship("Estudiante",back_populates='cursos')
    hora_curso=relationship("Crono",back_populates='curso_hora')
    def __repr__(self):
        return' {} {} '.format(self.id,self.nombrec)

class Crono(Base):
    __tablename__='horario'
    id=Column(Integer, Sequence('horario_seq_id'),primary_key=True)
    dia=Column(String)
    hora_inicio=Column(String)
    hora_fin=Column(String)
    profesor_id=Column(Integer,ForeignKey('profesor.id'))
    curso_id=Column(Integer,ForeignKey('curso.id'))
    
    curso_hora=relationship("Course",back_populates='hora_curso')
    curso_profe=relationship("Maestro",back_populates='profe_curso')

    def __repr__(self):
        return' {} {} {} '.format(self.dia,self.hora_inicio, self.hora_fin)

class Maestro(Base):
    __tablename__='profesor'
    id=Column(Integer, Sequence('profesor_seq_id'),primary_key=True)
    nombrep=Column(String)
    apellidop=Column(String)
    
    profe_curso=relationship("Crono",back_populates='curso_profe')
    def __repr__(self):
        return'{}{}'.format(self.nombrep, self.apellidop)


Base.metadata.create_all(engine)

Session=sessionmaker(bind=engine)
session=Session()

curso1=Course(nombrec="Fisica")
session.add(curso1)

alumno1=Estudiante(nombrea='Carlos', apellidoa='  Gonzalez')
print("Alumno ",alumno1)
session.add(alumno1)
##alumno1.cursos=Course(nombrec='Fisica')
##alumno1.cursos=curso1
alumno1.curso_ida=curso1.id

print("Alumno1.Cursos ",alumno1.cursos)

horario1=Crono(dia='lunes',hora_inicio="7:00 am", hora_fin='8:00')
horario1.curso_hora=Course(nombrec='Quimica')
horario1.curso_profe=Maestro(nombrep='Vicente',apellidop='  Huidobro')
session.add(horario1)


horario2=Crono(dia='martes',hora_inicio="8:00 am", hora_fin='9:00')
horario2.curso_hora=Course(nombrec='Estadistica')
horario2.curso_profe=Maestro(nombrep='Vicente',apellidop='  Huidobro')
session.add(horario2)

horario3=Crono(dia='martes',hora_inicio="8:00 am", hora_fin='9:00')
horario3.curso_hora=Course(nombrec='Contabilidad')
horario3.curso_profe=Maestro(nombrep='Juan',apellidop='Sapena')
session.add(horario3)

print("Horario1 ",horario1)
print("Profesor Curso ",horario1.curso_profe)
print("Cursos ",session.query(Course).filter(Maestro.profe_curso.any()).all())
print("Crono ",session.query(Crono).filter(Maestro.profe_curso.any()).all())
print("Profesores ",session.query(Maestro).all())

session.commit()

Alumno   Nombre Carlos Apellido   Gonzalez
Alumno1.Cursos  None
Horario1   lunes 7:00 am 8:00
Profesor Curso  Vicente  Huidobro
Cursos  [ 1 Fisica ,  2 Quimica ,  3 Estadistica ,  4 Contabilidad ]
Crono  [ lunes 7:00 am 8:00 ,  martes 8:00 am 9:00 ,  martes 8:00 am 9:00 ]
Profesores  [Vicente  Huidobro, Vicente  Huidobro, JuanSapena]

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.30-cp39-cp39-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 7.8 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp39-cp39-win_amd64.whl (290 kB)
     ---------------------------------------- 290.8/290.8 kB ? eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in c:\sistemas\anaconda\envs\py\lib\site-packages (from sqlalchemy) (4.9.0)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.30
Note: you may need to restart the kernel to use updated packages.

# ![Mapa.png](attachment:Mapa.png)

In [2]:
alumno1=Estudiante(nombrea='Omar', apellidoa='  Bomba')
print(alumno1)
session.add(alumno1)
alumno1.cursos=Course(nombrec='Quimica')
print(alumno1.cursos)

 Nombre Omar Apellido   Bomba
 None Quimica

In [3]:
alumno1=Estudiante(nombrea='Esteban', apellidoa='  Banco')
print(alumno1)
session.add(alumno1)
alumno1.cursos=Course(nombrec='Quimica')
print(alumno1.cursos)

 Nombre Esteban Apellido   Banco
 None Quimica

In [4]:
print("Estudiantes ",session.query(Estudiante).all())

Estudiantes  [ Nombre Carlos Apellido   Gonzalez ,  Nombre Omar Apellido   Bomba ,  Nombre Esteban Apellido   Banco ]

In [5]:
print( session.query(Course).all())

[ 1 Fisica ,  2 Quimica ,  3 Estadistica ,  4 Contabilidad ,  5 Quimica ,  6 Quimica ]

In [6]:
print( session.query(Course).join(Estudiante).all())

[ 5 Quimica ,  6 Quimica ]

In [7]:
print( session.query(Course,Estudiante).join(Estudiante).all())

[( 5 Quimica ,  Nombre Omar Apellido   Bomba ), ( 6 Quimica ,  Nombre Esteban Apellido   Banco )]

In [8]:
# Sistema de escuelas por DawffyddRiv
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Sequence, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

engine = create_engine('sqlite:///:memory:')
Base = declarative_base(engine)


class Estudiante(Base):
    __tablename__ = "alumno"
    id = Column(Integer, Sequence('alumno_seq_id'), primary_key=True)
    nombrea = Column(String)
    apellidoa = Column(String)
    curso_ida = Column(Integer, ForeignKey('curso.id'))

    cursos = relationship("Course", back_populates='estudiantes')

    def __repr__(self):
        return '{}{}'.format(self.nombrea, self.apellidoa)


class Course(Base):
    __tablename__ = 'curso'
    id = Column(Integer, Sequence('curso_seq_id'), primary_key=True)
    nombrec = Column(String)

    estudiantes = relationship("Estudiante", back_populates='cursos')
    hora_curso = relationship("Crono", back_populates='curso_hora')

    def __repr__(self):
        return 'Curso {} Id {} '.format(self.nombrec,self.id)


class Crono(Base):
    __tablename__ = 'horario'
    id = Column(Integer, Sequence('horario_seq_id'), primary_key=True)
    dia = Column(String)
    hora_inicio = Column(String)
    hora_fin = Column(String)
    profesor_id = Column(Integer, ForeignKey('profesor.id'))
    curso_id = Column(Integer, ForeignKey('curso.id'))

    curso_hora = relationship("Course", back_populates='hora_curso')
    curso_profe = relationship("Maestro", back_populates='profe_curso')

    def __repr__(self):
        return 'Id Crono {} Id Curso {} Dia {} Inicio {} Fin {}'.format(self.id,self.curso_id,self.dia, self.hora_inicio, self.hora_fin)


class Maestro(Base):
    __tablename__ = 'profesor'
    id = Column(Integer, Sequence('profesor_seq_id'), primary_key=True)
    nombrep = Column(String)
    apellidop = Column(String)

    profe_curso = relationship("Crono", back_populates='curso_profe')

    def __repr__(self):
        return '{}{}'.format(self.nombrep, self.apellidop)


Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()

alumno0 = Estudiante(nombrea='Carlos', apellidoa='  Gonzalez')
alumno0.cursos = Course(nombrec='Fisica')
session.add(alumno0)

alumno1 = Estudiante(nombrea='Pedro', apellidoa='  Piedras')
alumno1.cursos = Course(nombrec='Fisica')
session.add(alumno1)


alumno2=Estudiante(nombrea='Esteban', apellidoa='  Banco')
alumno2.cursos=Course(nombrec='Quimica')
session.add(alumno2)

alumno3=Estudiante(nombrea='Omar', apellidoa='  Bomba')
alumno3.cursos=Course(nombrec='Quimica')
session.add(alumno3)




horario1 = Crono(dia='lunes', hora_inicio="7:00 am", hora_fin='8:00')
horario1.curso_hora = Course(nombrec='Quimica')
horario1.curso_profe = Maestro(nombrep='Vicente', apellidop='  Huidobro')
session.add(horario1)


horario2 = Crono(dia='martes', hora_inicio="6:00 am", hora_fin='7:00')
horario2.curso_hora = Course(nombrec='Fisica')
horario2.curso_profe = Maestro(nombrep='Eldo', apellidop=' Nerdo')
session.add(horario2)


curso0 = session.query(Course).filter().first()
print("Curso 1 ", curso0 , curso0.id)

hora0 = session.query(Crono).filter(Crono.curso_id==curso0.id).first()
print("Horario ",hora0)

print("Maestro Curso ", horario2.curso_profe,horario2.profesor_id)

##print("Curso que Dicta ",session.query(Course).filter(Cou      Maestro.profe_curso.any()).all())
print("Horario que Dicta ",session.query(Crono).filter( Crono.profesor_id==horario1.profesor_id).all())

print("Todos Horario ",session.query(Crono).all())
print("Todos Maestro ",session.query(Maestro).filter(Maestro.profe_curso.any()).all())
print("todos Estudiante ",session.query(Estudiante).filter().all())

session.commit()

Curso 1  Curso Fisica Id 1  1
Horario  None
Maestro Curso  Eldo Nerdo 2
Horario que Dicta  [Id Crono 1 Id Curso 5 Dia lunes Inicio 7:00 am Fin 8:00]
Todos Horario  [Id Crono 1 Id Curso 5 Dia lunes Inicio 7:00 am Fin 8:00, Id Crono 2 Id Curso 6 Dia martes Inicio 6:00 am Fin 7:00]
Todos Maestro  [Vicente  Huidobro, Eldo Nerdo]
todos Estudiante  [Carlos  Gonzalez, Pedro  Piedras, Esteban  Banco, Omar  Bomba]

Elejemplo Bases de Datos

In [9]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Sequence, ForeignKey,Boolean,Numeric
from sqlalchemy.orm import sessionmaker, relationship

engine = create_engine('sqlite:///:memory:')
Base = declarative_base(engine)

class Product(Base):
    __tablename__ = 'producto'
    id=Column(Integer, primary_key=True)
    titulo=Column('titulo', String(32))
    en_stock=Column('en_stock', Boolean)
    cantidad=Column('cantidad', Integer)
    precio=Column('precio', Numeric)

Relacion Uno a Muchos 
Un Articulo , con muchos comentarios

In [10]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Sequence, ForeignKey,Boolean,Numeric
from sqlalchemy.orm import sessionmaker, relationship

engine = create_engine('sqlite:///:memory:')
Base = declarative_base(engine)


class Article(Base):
    __tablename__ = 'articles'
    id = Column(Integer, primary_key=True)
    comments = relationship("Comment")


class Comment(Base):
    __tablename__ = 'comments'
    id = Column(Integer, primary_key=True)
    article_id = Column(Integer, ForeignKey('articles.id'))

Relacion Muchos a Uno

In [11]:
class Tire(Base):
    __tablename__ = 'tires'
    id = Column(Integer, primary_key=True)
    car_id = Column(Integer, ForeignKey('cars.id'))
    car = relationship("Car")


class Car(Base):
    __tablename__ = 'cars'
    id = Column(Integer, primary_key=True)

Relacion de Uno a Uno 
Atributos de relacion uselist=False / back_populates

In [12]:
class Person(Base):
    __tablename__ = 'people'
    id = Column(Integer, primary_key=True)
    mobile_phone = relationship("MobilePhone", uselist=False, back_populates="person")

class MobilePhone(Base):
    __tablename__ = 'mobile_phones'
    id = Column(Integer, primary_key=True)
    person_id = Column(Integer, ForeignKey('people.id'))
    person = relationship("Person", back_populates="mobile_phone")

Relacion Muchos a Muchos 
Se crea otra relacion asociar

In [14]:
students_classes_association = Table('students_classes', Base.metadata,
    Column('student_id', Integer, ForeignKey('students.id')),
    Column('class_id', Integer, ForeignKey('classes.id'))
)

class Student(Base):
    __tablename__ = 'students'
    id = Column(Integer, primary_key=True)
    classes = relationship("Class", secondary=students_classes_association)

class Class(Base):
    __tablename__ = 'classes'
    id = Column(Integer, primary_key=True)

NameError: name 'Table' is not defined